.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  margin-bottom: 2rem;
}
.mainHeaderLogo {
  font-size: larger;
}

.firstPlayerGrid {
  grid-area: player1;
  box-shadow: 0px 0px 10px red;
}
.secondPlayerGrid {
  grid-area: player2;
  box-shadow: 0px 0px 10px blue;
}

.gameContainer {
  display: grid;
  grid-template-areas: "player1 info player2";
}

.gameBoard {
  margin-left: 2rem;
  margin-right: 2rem;

  min-width: 30vw;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.gameBoard .gameCell {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.108);
}

.gameInfo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  text-align: center;
  justify-content: space-between;
}

.gameInfo .title {
  font-weight: 500;
  margin-bottom: 10px;
}
.gameInfo .info {
  color: rgba(0, 0, 0, 0.503);
}

.gameControlButtons {
  justify-self: end;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.gameControlButtons > div {
  padding: 1rem;
  border-radius: 15px;
}
.gameControlButtons .endTurnBtn {
  box-shadow: 0px 0px 10px green;
  color: green;
}
.gameControlButtons .resetGameBtn {
  box-shadow: 0px 0px 10px orange;
  color: orange;
}
.gameControlButtons .endGameBtn {
  box-shadow: 0px 0px 10px red;
  color: red;
}
